* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #d9cdad; */
    background-color: #F2EFE9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbarBG {
    /*background-color: #79212f;*/
    background-color: #252627;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #e5bd27;
}

#nav-color {
    font-weight: bolder;
    color: #FEF9F6;
    font-size: 18px;
    padding-right: 20px;
}

.nav-link a {
    padding: 10px 0;
}

/* About Me */
.aboutme {
    padding-top: 5%;
    padding-bottom: 4%;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-image: linear-gradient(to bottom, #252627, #252627, #3c4142);
    padding-top: 9rem;
}


.container {
    max-width: 1500px;
    margin: 0 auto;
}

.aboutme-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutmetext {
    order: 1;
}

.aboutme h1 {
    color: #e5bd27;
    text-align: center;
    font-size: 80px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-shadow: 2px 2px black;
}

.aboutme p {
    text-align: justify;
    font-size: 30px;
    color: #FEF9F6;
}

.aboutme img {
    width: 100%;
}

/*More Information*/
.more-info {
    margin-bottom: 180%;
    height: 760px;
    background-color: #F2EFE9;
}

.more-info h1 {
    padding-top: 30px;
    font-size: 70px;
    text-align: center;
    color: #e5bd27;
    text-shadow: 2px 2px black;
}

.more-info p {
    text-align: justify;
    font-size: 25px;
}

.progress {
    margin-right: 10%;
    margin-left: 10%;
    height: 3rem;
    /* position: relative; */
}

.more-info h2{
    text-align: center;
    color: #e5bd27;
    text-shadow: 2px 2px black;
}

.more-info .text1{
    padding-bottom: 10px;
}

.more-info .text2{
    padding-top: 15px;
    padding-bottom: 10px;
}

.more-info .text3{
    padding-top: 15px;
    padding-bottom: 10px;
}

.progress-bar {
    background-color: #e5bd27;
}

.progress {
    border: 1px solid gray;
}

/* Educational Background */
.educ-background {
    height: 1860px;
    background-color: #F2EFE9;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-image: linear-gradient(to bottom, #252627, #252627, #3c4142);
}

.educ-background h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 60px;
    color: #e5bd27;
    text-shadow: 2px 2px black;
}

.educ-cards {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.educ-cards p{
    text-align: center;
}

.educ-cards img {
    max-height: 150px;
    object-fit: fill;
    object-position: center;
    text-align: justify;
}

/* Projects Carousel */
.project {
    width: 100%;
    max-width: 100%;
}

.project h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 70px;
    color: #e5bd27;
    text-shadow: 2px 2px black;
}


/* button */
.frame {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.button button {
    margin: 20px;
    outline: none;
    font-weight: bolder;
}

.custom-btn {
    width: 180px;
    height: 60px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-6 {
    background: #252627;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #000;
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    color: white;
    background: #564E58;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: #000;
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}

/* Pre-Footer */
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.pre-footer{
    text-align: center;
    padding-bottom: 15px;
}

.pre-footer h1{
    font-size: 70px;
    color: #e5bd27;
    text-shadow: 2px 2px black;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: lightgray;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 70px;
  height: 70px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.footer{
    background-color: #252627;
    padding: 1%;
    text-align: center;
    color: #F2EFE9;
}

/* For PC View */
@media screen and (min-width: 768px) {
    .aboutme {
        padding-top: 5%;
        padding-bottom: 4%;
        border-bottom-left-radius: 8rem;
        border-bottom-right-radius: 8rem;
        background-image: linear-gradient(to bottom, #252627, #252627, #3c4142);
        padding-top: 9rem;
    }

    .aboutme-wrapper {
        flex-direction: row;
        margin-left: -50px;
    }

    .aboutme-wrapper div {
        width: 50%;
        padding-left: 50px;
    }

    .aboutmetext {
        order: 0;
    }

    .more-info {
        margin-bottom: 30px;
        height: 690px;
        background-color: #F2EFE9;
    }

    .progress {
        margin-right: 20%;
        margin-left: 20%;
        height: 3rem;
        /* position: relative; */
    }
    

    /* Educational Background */
    .educ-background {
        height: 520px;
        background-color: #1d4545;
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        background-image: linear-gradient(to bottom, #252627, #252627, #3c4142);;
    }

    .educ-background h1 {
        padding-top: 30px;
        text-align: center;
        font-size: 70px;
        color: #e5bd27;
        text-shadow: 2px 2px black;
    }

    .educ-cards {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        row-gap: 0px;
    }

    .project {
        width: 100%;
        max-width: 100%;
    }

     /* page 2 and 3*/
    .spacing{
        padding-top: 8vh;
    }

    .proj1, .proj3{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }

    .proj1 img, .proj2 img, .proj3 img, .proj4 img{
        border: 2px solid black;
    }

    .proj2, .proj4{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 20px;
    }
    .proj2 h3, .proj4 h3{
        padding-left: 15px;
    }
    .proj1 img, .proj2 img, .proj3 img, .proj4 img{
        border: 2px solid black;
        height: 500px;
    }
    
    .proj1 h3, .proj2 h3, .proj3 h3, .proj4 h3{
        font-size: 28px;
    }
}

/* .avatar:hover::after{
    content: attr(data-tooltip);
} */

.avatar::before,
    .avatar::after{
        --scale: 0;
        --arrow-size: 10px;
        --tooltip-color: #333;

        position: absolute;
        top: -.25rem;
        left: 50%;
        transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
        transition: 150ms transform;
        transform-origin: bottom center;
    }

.avatar::before{
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    max-width: 100%;
    color: white;
    background: var(--tooltip-color);
    border-radius: .3rem;
    text-align: center;
}

.avatar:hover::before,
    .avatar:hover::after{
    --scale: 1;
}

.avatar::after{
    --translate-y: calc(-1 * var(--arrow-size));

    content:'';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}

.avatar{
    position: relative;
    text-align: center;
}

.avatar2::before,
    .avatar2::after{
        --scale: 0;
        --arrow-size: 10px;
        --tooltip-color: #333;

        position: absolute;
        top: -.25rem;
        left: 50%;
        transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
        transition: 150ms transform;
        transform-origin: bottom center;
    }

.avatar2::before{
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    max-width: 100%;
    color: white;
    background: var(--tooltip-color);
    border-radius: .3rem;
    text-align: center;
}

.avatar2:hover::before,
    .avatar2:hover::after{
    --scale: 1;
}

.avatar2::after{
    --translate-y: calc(-1 * var(--arrow-size));

    content:'';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}

.avatar2{
    position: relative;
    text-align: center;
}

.avatar3::before,
    .avatar3::after{
        --scale: 0;
        --arrow-size: 10px;
        --tooltip-color: #333;

        position: absolute;
        top: -.25rem;
        left: 50%;
        transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
        transition: 150ms transform;
        transform-origin: bottom center;
    }

.avatar3::before{
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    max-width: 100%;
    color: white;
    background: var(--tooltip-color);
    border-radius: .3rem;
    text-align: center;
}

.avatar3:hover::before,
    .avatar3:hover::after{
    --scale: 1;
}

.avatar3::after{
    --translate-y: calc(-1 * var(--arrow-size));

    content:'';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}

.avatar3{
    position: relative;
    text-align: center;
}

/* page 2 and 3*/
.spacing{
    padding-top: 8vh;
}

.proj1, .proj3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}



@media screen and (max-width: 555px){
    .proj1 img, .proj2 img, .proj3 img, .proj4 img{
        border: 2px solid black;
        height: 120px;
    }

    .proj1 h3, .proj2 h3, .proj3 h3, .proj4 h3{
        font-size: 15px;
    }

    iframe{
        height: 150px;
        width: 250px;
    }
}

.proj2, .proj4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 20px;
}
.proj2 h3, .proj4 h3{
    padding-left: 15px;
}

/* helper */

.hidden {
    display: none;
}

.bold{
    font-weight: bold;
}